{% extends "boardsbase.html" %}
{% block title %}
    {{ board_object.typeName }}
{% endblock title %}
{% block content %}
    <div class="board-detail">
        <h1>{{ board_object.typeName }}</h1>
        <p>{{ board_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_board' %}">Create a new board</a>
        </p>
        {% if board_list|length > 0 %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Board Type</th>
                    <th>Description</th>
                    <th>Lanes</th>
                    <th>Columns</th>
                </thead>
                <tbody>
                    {% for board_object in board_list %}
                        <tr>
                            <td>{{ board_object.boardName }}</td>
                            <td>{{ board_object.boardType }}</td>
                            <td>{{ board_object.description }}</td>
                            <td>{{ board_object.num_lanes }}</td>
                            <td>{{ board_object.num_columns }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No boards yet</p>
        {% endif %}
    </div>
{% endblock %}
