{% extends "boardsbase.html" %}
{% block title %}
    {{ round_object.typeName }}
{% endblock title %}
{% block content %}
    <div class="round-detail">
        <h1>{{ round_object.typeName }}</h1>
        <p>{{ round_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <!-- <a href="{% url 'create_round' %}">Create a new round</a> -->
        </p>
        {% if task_list|length > 0 %}
            <table>
                <thead>
                    <th>Round Type</th>
                    <th>Number of Players</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    {% for round_object in round_list %}
                        <tr>
                            <td>{{ round_object.typeName }}</td>
                            <td>{{ round_object.numPlayers }}</td>
                            <td>{{ round_object.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No rounds yet</p>
        {% endif %}
    </div>
{% endblock %}
