{% extends "base.html" %}

{% block title %}
    Deck
{% endblock title %}
{% block content %}
    <div>
        <h2>Decks</h2>
        <p>
        </p>
        {% if decks|length > 0 %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Cards</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    {% for deck_object in decks %}
                    <tr>
                        <td>{{ deck_object.deckName }}</td>
                        <td><img src="/static/media/{{ deck_object.deckImg }}"/></td>
                        <td>{{ deck_object.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No decks yet</p>
        {% endif %}
    </div>
{% endblock %}
