{% extends "base.html" %}

{% block title %}
    Deck
{% endblock title %}
{% block content %}

    <div>
        <h2>{{ deck_object.deckName }} Deck</h2>
        <p>{{ deck_object.description }}</p>
        {% if cards|length == 0 %}
            No cards in this deck yet.
        {% else %}
            <table>
                <thead>
                    {% if deck_object.deckName == "Symbol" %}
                        <th>Symbol</th>
                    {% else %}
                        <th>Card Name</th>
                    {% endif %}
                    <th>Image</th>
                    {% if deck_object.deckName == "Cape" %}
                        <th>Power Rank</th>
                        <th>Class</th>
                        <th>Health Points</th>
                        <th>Symbol</th>
                        <th>Combo 1</th>
                        <th>Combo 2</th>
                        <th>Combo 3</th>
                        <th>Backstory</th>
                    {% elif deck_object.deckName == "Chaos" %}
                        <th>Power Rank</th>
                        <th>Class</th>
                        <th>Health Points</th>
                        <th>Defense Rating</th>
                        <th>Symbol 1</th>
                        <th>Symbol 2</th>
                        <th>Backstory</th>
                    {% elif deck_object.deckName == "Combat Class" %}
                        <td>Combo 1</td>
                        <td>Combo 2</td>
                    {% elif deck_object.deckName == "Mission" %}
                        <td>Symbol 1</td>
                        <td>Symbol 2</td>
                        <td>Symbol 3</td>
                        <td>Symbol 4</td>
                    {% endif %}
                </thead>
                <tbody>
                    {% for card in cards %}
                        <tr>
                            <td>{{ card.cardName }}</td>
                            <td><img src="{{ card.cardImg.url }}" alt=""></td>
                            {% if deck_object.deckName == "Cape" or deck_object.deckName == "Chaos" %}
                                {% if card.className == "Superhero" %}
                                    <td>3</td>
                                    <td>{{ card.className }}</td>
                                    <td>{{ card.healthPoints }}</td>
                                    <td>{{ card.comboNum1 }}</td>
                                    <td>{{ card.comboNum2 }}</td>
                                    <td>{{ card.comboNum3 }}</td>
                                    <td>{{ card.symbol }}</td>
                                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                                {% elif card.className == "Supervillain" %}
                                    <td>3</td>
                                    <td>{{ card.className }}</td>
                                    <td>{{ card.healthPoints }}</td>
                                    <td>{{ card.defenseRating }}</td>
                                    <td>{{ card.symbol1 }}</td>
                                    <td>{{ card.symbol2 }}</td>
                                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                                {% elif card.className == "Hero" %}
                                    <td>2</td>
                                    <td>{{ card.className }}</td>
                                    <td>{{ card.healthPoints }}</td>
                                    <td>{{ card.symbol }}</td>
                                    <td>{{ card.comboNum1 }}</td>
                                    <td>{{ card.comboNum2 }}</td>
                                    <td>N/A</td>
                                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                                {% elif card.className == "Villain" %}
                                    <td>2</td>
                                    <td>{{ card.className }}</td>
                                    <td>{{ card.healthPoints }}</td>
                                    <td>{{ card.defenseRating }}</td>
                                    <td>{{ card.symbol1 }}</td>
                                    <td>{{ card.symbol2 }}</td>
                                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                                {% elif card.className == "Summoned Sidekick" %}
                                    <td>1</td>
                                    <td>{{ card.className }}</td>
                                    <td>{{ card.healthPoints }}</td>
                                    <td>{{ card.symbol }}</td>
                                    <td>{{ card.comboNum1 }}</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                                {% elif card.className == "Minions" %}
                                    <td>1</td>
                                    <td>{{ card.className }}</td>
                                    <td>{{ card.healthPoints }}</td>
                                    <td>{{ card.defenseRating }}</td>
                                    <td>{{ card.symbol1 }}</td>
                                    <td>{{ card.symbol2 }}</td>
                                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                                {% elif card.className == "Power" %}
                                    <td>{{ card.powerRank }}</td>
                                    <td>{{ card.className }}</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>{{ card.comboNum1 }}</td>
                                    <td>{{ card.comboNum2 }}</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                {% elif card.className == "Upgrade" %}
                                    <td>{{ card.powerRank }}</td>
                                    <td>{{ card.className }}</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>{{ card.comboNum1 }}</td>
                                    <td>{{ card.comboNum2 }}</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                {% endif %}
                            {% elif deck_object.deckName == "Combat Class" %}
                                <td>{{ card.comboNum1 }}</td>
                                <td>{{ card.comboNum2 }}</td>
                            {% elif deck_object.deckName == "Mission" %}
                                <td>{{ card.symbol1 }}</td>
                                <td>{{ card.symbol2 }}</td>
                                <td>{{ card.symbol3 }}</td>
                                <td>{{ card.symbol4 }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
