{% extends "base.html" %}

{% block title %}
    Deck
{% endblock title %}
{% block content %}
    <h2>{{ deck_object.deckName }} Deck</h2>
    <p>{{ deck_object.description }}</p>
    {% if cards|length == 0 %}
        No cards in this deck yet.
    {% else %}
        <!-- Cape Deck Card Views  -->
        {% if deck_object.deckName == "Cape" %}
            <!-- Power Card View -->
            {% if card_object.className == "Power" %}
                <div class="powerCard">
                    power card here - need more info
                    <img src="{{ card.cardImg.url }}" alt="">
                </div>
            <!-- Upgrade Card View -->
            {% elif card_object.className == "Upgrade" %}
                <div class="upgradeCard">
                    upgrade card here - need more info
                    <img src="{{ card.cardImg.url }}" alt="">
                </div>
            <!-- Ally Card View -->
            {% else %}
                <div class="allyCard">
                    <table>
                        <tr>
                            {% if card.healthPoints == 0 %}
                                <td>Defeated</td>
                            {% elif card.healthPoints == 1 %}
                                <td>heart 1</td>
                            {% elif card.healthPoints == 2 %}
                                <td>heart 2</td>
                            {% elif card.healthPoints == 3 %}
                                <td>heart 3</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Symbol Image & name Here</td>
                            <td>{{ card.cardName }} : {{ card.className }}</td>
                            <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                        </tr>
                        <tr>
                            <td><img src="{{ card.cardImg.url }}" alt=""></td>
                        </tr>
                        <tr>
                            <td>Logo Picture Here</td>
                            <td>
                                <p>{{ card.comboNum1 }}</p>
                                {% if card.powerRank > 1 %}
                                <p>{{ card.comboNum2 }}</p>
                                {% endif %}
                                {% if card.powerRank > 2 %}
                                <p>{{ card.comboNum3 }}</p>
                                {% endif %}
                            </td>
                            <td>{{ card.powerRank }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        {% elif deck_object.deckName == "Chaos" %}
        <div class="chaosCard">
            <table>
                <tr>
                    {% if card.defenseRating == 5 %}
                        <td>Shield 1</td>
                    {% elif card.defenseRating == 10 %}
                        <td>Shield 2</td>
                    {% elif card.defenseRating == 15 %}
                        <td>Shield 3</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ card.symbol1 }}</td>
                    <td>{{ card.cardName }}</td>
                    <td>{{ card.symbol1 }}</td>
                </tr>
                <tr>
                    <td><img src="{{ card.cardImg.url }}" alt=""></td>
                </tr>
                <tr>
                    <td><a href="{{ card.backstoryLink }}">{{card.cardName}}'s Backstory</a></td>
                    <td>{{ card.className }}</td>
                    <td>{{ card.powerRank }}</td>
                </tr>
            </table>
        </div>
        {% elif deck_object.deckName == "Symbol" %}
        <div class="symbolCard">
            <table>
                <tr>
                    <td>{{ card.cardName }}</td>
                </tr>
                <tr>
                    <td><img src="{{ card.cardImg.url }}" alt=""></td>
                </tr>
            </table>
        </div>
        {% elif deck_object.deckName == "Summoned Sidekick" %}
        <div class="summonedSidekickCard">
            <table>
                <tr>
                    <td>Summoned Sidekick</td>
                </tr>
                <tr>
                    <td>{{ card.cardName }}</td>
                </tr>
                <tr>
                    <td><img src="{{ card.cardImg.url }}" alt=""></td>
                </tr>
            </table>
        </div>
        {% elif deck_object.deckName == "Mission" %}
        <div class="missionCard">
            <h3>Mission</h3>
            <table>
                <tr>
                    <td>{{ card.symbol1 }}</td>
                    <td>{{ card.symbol2 }}</td>
                </tr>
                <tr>
                    <td>{{ card.symbol3 }}</td>
                    <td>{{ card.symbol4 }}</td>
                </tr>
            </table>
            <img src="{{ card.cardImg.url }}" alt="">
        </div>
        {% elif deck_object.deckName == "Leader" %}
        <div class="leaderCard">
            <table>
                <tr>
                    <td>{{ card.cardName }} Leader</td>
                </tr>
                <tr>
                    <td><img src="{{ card.cardImg.url }}" alt=""></td>
                </tr>
            </table>
        </div>
        {% elif deck_object.deckName == "Combat Class" %}
        <div class="combatClassCard">
            <table>
                <tr>
                    <td>{{ card.cardName }} Combat Class</td>
                </tr>
                <tr>
                    <td><img src="{{ card.cardImg.url }}" alt=""></td>
                </tr>
            </table>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
