{% extends "game_base.html" %}
{% block title %}
    War Grid
{% endblock title %}
{% block content %}
    <table id="war grid">
        <tr id="mission cards lane">
            <td id="mission draw pile"></td>
            {% for mission in mission_cards %}
                <td id="available mission {{ forloop.counter }}" class="mission card">{{ mission }}</td>
            {% endfor %}
        </tr>
        <tr id="hazard zone">
            <td id="hazard draw pile"></td>
            {% for hazard in hazard_cards %}
                <td id="hazard {{ forloop.counter }}" class="symbol card">{{ hazard }}</td>
            {% endfor %}
        </tr>
        <tr id="chaos card lane">
            <td id="chaos card draw pile"></td>
            {% for chaos in chaos_cards %}
                <td id="chaos lane card {{ forloop.counter }}" class="chaos card">{{ chaos }}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}