html{
    background-image: url(/static/media/retrobackground.PNG);
}

body{
    margin: 0;
    padding: 0;
}

main{
    padding: 16px;
}

footer{
    padding-top:        24px;
    padding-bottom:     24px;
    padding-left:       24px;
    padding-right:      0;
    background-color: #B4CF66;
    font-size: large;
}

header{
    text-shadow: 2px 2px darkgray;
    background-image: linear-gradient(to bottom, #fd7200, #da0d0d);
}

header h1 {
    text-align: center;
    padding-top: 2px;
    margin-top: 4px;
}

nav{
    border-bottom:      1px solid #146152;
    padding:            16px;
}

img{
    height: 200px;
}

h1{
    color: #000000;
}

h2 {
    margin:auto;
}
a{
    color:#000000;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

nav a{
    color: white;
}

h3 a{
    color: #e00c0c;
}



div{
    background-color: antiquewhite;
    padding: 8px 8px 8px 8px;
}

th{
    text-decoration-line: underline;
}
