<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>Capes and Chaos Full Board</title>
    </head>
    <body>
        {% block wargrid %}
        {% endblock %}
        {% block playerboard %}
        {% endblock %}
    </body>
</html>