{% extends "game_base.html" %}
{% block title %}
    Player Board
{% endblock title %}
{% block playerboard %}
    <table id="player board">
        <tr id="end game row">
            <td id="defeated allies"></td>
            <td id="defeated chaos"></td>
            <td id="completed missions"></td>
        </tr>
        <tr>
            <td id="upgrade cards">
                <table>
                    {% for upgrade in upgrade_cards %}
                        <tr>
                            <td id="upgrade card {{ forloop.counter }}" class="upgrade card">{{ upgrade }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td id="battlefield">
                {% for battle in battlefield_cards %}
                    <td id="battlefield card {{ forloop.counter }}" class="cape card">{{ battle }}</td>
                {% endfor %}
            </td>
            <td id="situation pool">
                {% for symbol in situation_pool_cards %}
                    <td id="situation pool card {{ forloop.counter }}" class="symbol card">{{ symbol }}</td>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td id="player class"></td>
            <td id="power cards" class="cape card">
                <table>
                    <tr>
                        {% for power in power_cards %}
                            <td id="power card {{ forloop.counter }}" class="cape card">{{ power }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
            <td id="cape deck"></td>
            <td id="recycle pile"></td>
            <td id="reserve cards">
                <table>
                    <tr>
                        {% for reserve_card in reserve_cards %}
                            <td id="reserve card {{ forloop.counter }}" class="cape card">{{ reserve_card }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="player hand">
            {% for hand_card in hand_cards %}
                <td id="hand card {{ forloop.counter }}" class="cape card">{{ hand_card }}</td>
            {% endfor %}              
        </tr>
    </table>
{% endblock %}