<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/decks.css' %}">
        <title>Decks</title>
    </head>
    <body>
        <header>
            <h1>Capes & Chaos - Retro</h1>
            <nav>
                <a href="{% url 'list_decks' %}">Decks</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            Copyright 2CComics
        </footer>
    </body>
</html>
