{% extends "base.html" %}

{% block title %}
    Cards
{% endblock title %}
{% block content %}
    <div>
        <h1>Ally Cards</h1>
        <p>
        </p>
        {% if cards|length > 0 %}
            <table>
                <thead>
                    <th>Card Name</th>
                    <th>Class Name</th>
                    <th>Deck Name</th>
                    <th>Health Points</th>
                    <!-- <th>Symbol</th> -->
                    <th>Combo Number 1</th>
                    <th>Combo Number 2</th>
                    <th>Combo Number 3</th>
                    <th>Card Image</th>
                    <!-- <th>Backstory Link</th> -->

                </thead>
                <tbody>
                    {% for card_object in cards %}
                    <tr>
                        <td>{{ card_object.cardName }}</td>
                        <td>{{ card_object.className }}</td>
                        <td>{{ card_object.deckName }}</td>
                        <td>{{ card_object.healthPoints }}</td>
                        <!-- <td>{{ card_object.symbol }}</td> -->
                        <td>{{ card_object.comboNum1 }}</td>
                        <td>{{ card_object.comboNum2 }}</td>
                        <td>{{ card_object.comboNum3 }}</td>
                        <td><img src="/static/media/{{ card_object.cardImg }}"></td>
                        <!-- <td>{{ card_object.backstoryLink }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cards yet</p>
        {% endif %}
    </div>
{% endblock %}
