{% extends "base.html" %}

{% block title %}
    Card
{% endblock title %}
{% block content %}
    <div>
        <h1>Chaos Cards</h1>
        <p>
        </p>
        {% if cards|length > 0 %}
            <table>
                <thead>
                    <th>Card Name</th>
                    <th>Class Name</th>
                    <th>Deck Name</th>
                    <th>Power Rank</th>
                    <th>Health Points</th>
                    <th>Defense Rating</th>
                    <th>Threat Points</th>
                    <th>Symbol 1</th>
                    <th>Symbol 2</th>
                    <th>Card Image</th>
                    <th>Backstory Link</th>
                </thead>
                <tbody>
                    {% for card_object in cards %}
                    <tr>
                        <td>{{ card_object.cardName }}</td>
                        <td>{{ card_object.className }}</td>
                        <td>{{ card_object.deckName }}</td>
                        <td>{{ card_object.powerRank }}</td>
                        <td>{{ card_object.healthPoints }}</td>
                        <td>{{ card_object.defenseRating }}</td>
                        <td>{{ card_object.threatPoints }}</td>
                        <td>{{ card_object.symbol1 }}</td>
                        <td>{{ card_object.symbol2 }}</td>
                        <td><img src="{{ card_object.cardImg }}"></td>
                        <td>{{ card_object.backstoryLink }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cards yet</p>
        {% endif %}
    </div>
{% endblock %}
