{% extends "base.html" %}

{% block title %}
    Card
{% endblock title %}
{% block content %}
    <h1>{{ card_object.cardName }}</h1>
    <div>
        <h2> {{ card_object.deckName }} </h2>
        <p><img src="{{ card_object.cardImg }}"></p>
    </div>
{% endblock %}
