{% extends "base.html" %}

{% block title %}
    Card
{% endblock title %}
{% block content %}
    <div>
        <h1>Power Cards</h1>
        <p>
        </p>
        {% if cards|length > 0 %}
            <table>
                <thead>
                    <th>Card Name</th>
                    <th>Deck Name</th>
                    <th>Power Rank</th>
                    <th>Combo Number 1</th>
                    <th>Combo Number 2</th>
                    <th>Card Image</th>
                </thead>
                <tbody>
                    {% for card_object in cards %}
                    <tr>
                        <td>{{ card_object.cardName }}</td>
                        <td>{{ card_object.deckName }}</td>
                        <td>{{ card_object.powerRank }}</td>
                        <td>{{ card_object.comboNum1 }}</td>
                        <td>{{ card_object.comboNum2 }}</td>
                        <td><img src="{{ card_object.cardImg }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cards yet</p>
        {% endif %}
    </div>
{% endblock %}
